:root {
    --primary-color: #8CA8A4;
    /* gray blue*/
    --secondary-color: #EAE7D5;
    /*sand*/
    --accent-color-1: #050504;
    /* black */
    --accent-color-2: #7F867F;
    /* gray */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, san-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--accent-color-1);
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color-1);
    padding: 10px
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color-1);
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr;
    align-items: center;

}

h1,
h2 {
    color: var(--accent-color-1);
    font-family: var(--heading-font);
}

body {
    background-color: var(--secondary-color);
    font-family: var(--body-font);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

h1 {
    position: absolute;
    top: 35px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);

}

.hero article img {
    float: right;
    width: 165px;
    height: auto;

}

.hero article {
    position: absolute;
    width: 100%;
    background-color: var(--primary-color);
    margin: 0;
    padding: 8px;
    bottom: 0px;
}

section {
    width: 100%;
    background-color: var(--primary-color);
    margin: 35px 0;
    padding: 8px;

}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.history h2 {
    padding: 5px;
    grid-column: span 3;
    justify-self: center;

}

.history img {
    width: 200px;
    height: auto;
    justify-self: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: flex-end;
    text-align: center;
}

.adventure h2 {
    padding: 5px;
    grid-column: span 5;
    justify-self: center;
}

.adventure img {
    width: 150px;
    height: auto;

}

a img {
    width: 50px;
    height: auto;
}

footer {
    border-top: var(--accent-color-2) solid 1px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}