:root {
    --primary-color: #8CA8A4;
    /* gray blue*/
    --secondary-color: #EAE7D5;
    /*sand*/
    --accent-color-1: #050504;
    /* black */
    --accent-color-2: #7F867F;
    /* gray */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, san-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--accent-color-1);
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color-1);
    padding: 10px
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color-1);
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr;
    align-items: center;

}

header img {
    width: 150px;
    height: auto;
}

h1,
h2 {
    color: var(--accent-color-1);
    font-family: var(--heading-font);
}

body {
    background-color: var(--secondary-color);
    font-family: var(--body-font);

}

.hero nav,
.hero p,
.hero section,
.hero article {
    margin: 16px;
    padding: 8px;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 35px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--primary-color);

}

.hero article img {
    float: right;
    width: 165px;
    height: auto;

}

.hero article {
    position: absolute;
    width: 100%;
    background-color: var(--primary-color);
    margin: 0;
    padding: 8px;
    bottom: 0px;
}

section {
    width: 100%;
    background-color: var(--primary-color);
    margin: 35px 0;
    padding: 8px;

}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.history h2 {
    padding: 5px;
    grid-column: span 3;
    justify-self: center;

}

.history img {
    width: 200px;
    height: auto;
    justify-self: center;
}

.history p,
.history section {
    margin: 16px;
    padding: 8px;

}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: flex-end;
    text-align: center;
}

.adventure h2 {
    padding: 5px;
    grid-column: span 5;
    justify-self: center;
}

.adventure img {
    width: 150px;
    height: auto;

}

a img {
    width: 50px;
    height: auto;
}

footer {
    border-top: var(--accent-color-2) solid 1px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: .25rem;
}

.info h1,
.info p {
    text-align: center;
    padding: 5px 0;
    margin: 0;

}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;

}

.contact form {
    display: grid;
    grid-template-columns: .25fr .75fr;
    align-items: center;
    padding: 1rem;
    gap: .5rem;

}

.radioq {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: .5rem;
    gap: .5rem;

}

.radio-head {
    grid-row: 1/-1;
}

textarea {
    height: 100px;
}

.checkbox {
    width: 18px;
    height: 18px;
    align-self: center;
    justify-self: center;
}

button {
    grid-column: 1/ -1;
    justify-self: center;
    width: 110px;
}

button:hover {
    background-color: var(--primary-color);
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .1fr .9fr;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
}

.employees h2 {
    grid-row: 1;
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    margin-bottom: 1rem;
}

.employees figure {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.employees img {
    height: 150px;
    width: auto;
    margin-bottom: .5rem;
}

.home h1 {
    position: absolute;
    top: 323px;
    padding: 1px;
}

.actions {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    margin-top: 1rem;

}

.newsletter {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
    margin: 1.5rem 1rem 1rem 1rem;
    border: none;
}

.newsletter legend {
    font-size: large;
    text-align: center;
    padding-bottom: 1rem;
}

.trips {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-right: 10px solid var(--secondary-color);
    padding-bottom: .5rem;
}

.trips h2 {
    text-align: center;
    margin: 1rem 0 .5rem 0;
    grid-column: 1/3;
}

.trips p {
    margin: 0 1rem 1rem 1rem;
    font-size: large;
    padding: 1rem;
    align-self: center;
}

.trips a img {
    width: 150px;
    height: auto;
    border-radius: 1rem;
    justify-self: start;
    text-decoration: none;
}

.homegrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
    justify-items: center;
    margin: 1rem 0;
    padding: .75rem;
    gap: 1rem;
    background-color: var(--primary-color);
}

.homegrid img {
    width: 400px;
    height: auto;
    align-self: center;
}

.homegrid h2,
.homegrid h4 {
    grid-column: 1/3;
    text-align: center;
    padding: 2rem 125px .5rem 125px;
    border-bottom: 2px solid var(--accent-color-1);
}

.homegrid h3 {
    align-self: flex-end;
    border-bottom: 1px solid var(--accent-color-1);
    font-size: larger;

}

.homegrid p {
    padding: 0 1rem 0 1rem;
    font-size: large;
}

.thrill {
    grid-row: 2/4;
}

.camp {
    grid-column: 2/3;
    grid-row: 4/6;
}

.blue {
    grid-row: 7/9;
}

.canyon {
    grid-column: 2/3;
}

.voyages {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
}

.voyages img {
    width: 400px;
    height: auto;

}

.voyages h1 {
    grid-column: 1/3;

}

.sloop {
    grid-area: 2/2/4/3;
}

.brig {
    grid-area: 4/1/6/2;
}

.galleon {
    grid-area: 6/2/8/3;
}

.voyages h2 {
    align-self: flex-end;
    justify-self: center;
}

.voyages h3 {
    grid-column: 1/3;
}

table {
    width: 650px;
    height: 300px;
    justify-self: center;
    background-color: var(--primary-color);
    margin: 2rem;
    color: var(--accent-color-1)
}

td {
    text-align: center;
}