* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color: royalblue;

}

form {
    max-width: 500px;
    background-color: #eee;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid royalblue;
    border-radius: 1rem;
    display: grid;
    justify-self: center;

}

fieldset {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid royalblue;
    border-radius: 1rem;

}

legend {
    padding: .5rem;
    color: royalblue;
    font-size: 1.3em;
}

label {
    text-align: center;
    padding-right: 0;
}

input,
select,
textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    width: 8rem;
    margin: 1rem;
    padding: .5rem;
    background-color: royalblue;
    border: none;
    border-radius: .5rem;
    justify-self: center;

}

button:hover {
    background-color: skyblue;
}

footer {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}