nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 40rem;

}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 15rem;
    margin: 3rem;
    border: 3px solid #333;
    padding: 0 2rem;
    background-color: royalblue;
    color: white;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px black;
}

p {
    padding: 0px;
}

footer {
    margin-top: 100px;
    border-top: 2px solid black;
    text-align: center;
}