/* This is a comment */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: royalblue;
    --standard-margin: 2rem;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;

}

main {
    max-width: 30rem;
    margin-top: var(--standard-margin);
}

h1 {
    color: var(--primary-color);
    border-bottom: 2px solid black;
    margin-bottom: var(--standard-margin);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 15rem;
    text-align: center;
    position: relative;
    order: -1;

}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px black;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 35px;
}

aside p {
    padding-top: 25px;
}

footer {
    margin-top: var(--standard-margin);
    border-top: 2px solid black;
    text-align: center;
}

/* class selectors */
.box {
    margin-top: var(--standard-margin);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}