/* This is a comment */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: royalblue;
    --standard-margin: 1rem;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 30rem;
    margin: var(--standard-margin);
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 15rem;
    text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px black;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 35px;
}

p {
    padding-top: 25px;
}

footer {
    margin-top: 100px;
    border-top: 2px solid black;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}